body{
    margin:0;
    font-family:Inter, sans-serif;
    background:linear-gradient(135deg,#eef2ff,#f8fafc);
}

/* NAVBAR */
.navbar{
    background:#020617;
    color:white;
    padding:18px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar a{
    color:#94a3b8;
    text-decoration:none;
}

/* CONTAINER */
.container{
    padding:50px;
}

/* INTRO */
.intro-card{
    background:white;
    padding:35px;
    border-radius:14px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/* FEATURE GRID */
.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-top:30px;
}

.feature{
    background:white;
    padding:20px;
    border-radius:12px;
    transition:.3s;
}

.feature:hover{
    transform:translateY(-6px);
}

/* MODULE CARDS */
.module-grid{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.module-card{
    background:white;
    padding:28px;
    border-radius:14px;
    text-decoration:none;
    color:black;
    transition:.3s;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
}

.module-card:hover{
    transform:scale(1.03);
}

.highlight{
    background:#2563eb;
    color:white;
}

#memory{
    display:flex;
    gap:10px;
    margin-top:30px;
    flex-wrap:wrap;
}

.cell{
    width:70px;
    height:70px;
    background:white;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    transition:.4s;
}

.cell-index{
    font-size:12px;
    color:gray;
}

.active{
    background:#ef4444;
    color:white;
}
