<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">
<h2>Stack</h2>
<a href="/topics">Back</a>
</div>

<div class="container">

<div class="card">
<h3>What is Stack?</h3>
<p>
Stack follows LIFO (Last In First Out).
Insertion is called PUSH and removal is POP.
</p>
</div>

<div class="card">
<h3>Applications</h3>
<ul>
<li>Undo operations</li>
<li>Recursion</li>
<li>Expression evaluation</li>
<li>DFS traversal</li>
</ul>
</div>

<a href="/visualization">
<button>Try Stack Visualizer</button>
</a>

</div>

</body>
</html>
